/*@import*/
html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size:0;
}
div {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.header{
    width: 10mm;
    height: 10mm;
}

.page {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}
.row {
    max-width: 192mm;
    width: 100%;
    height: 54mm;
    text-align: left;
}
.product-container {
    font-size: 8pt;
    width: 38mm;
    height: 100%;
    display: inline-block;
    padding: 0 2mm 2mm 0;
}
.product {
    width: 100%;
    height: 100%;
    border-left: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    position: relative;
}

.product-inner{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.catalog-no {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 10pt;
    line-height: 10pt;
    background-color: #c8e5bc;
    text-align: center;
    z-index: 1;
}
.pid {
    position: absolute;
    top:0;
    right: 0;
    width: 40%;
    height: 10pt;
    line-height: 10pt;
    background-color: #c8e5bc;
    text-align: center;
    z-index: 1;
}

.price {
    position: absolute;
    bottom:0;
    right: 0;
    width: 22mm;
    height: 14pt;
    line-height: 14pt;
    font-size: 12pt;
    text-align: center;
    background-color: #c8e5bc;
    border-top: 0.5mm dashed black;
    border-left: 0.5mm dashed black;
    z-index: 1;
}


.image-container {
    width: 100%;
    max-width: 100%;
    height: 60%;
    max-height: 60%;
    overflow: hidden;
}

.image {
    width: 36mm;
    max-width: 36mm;
    height: 30mm;
    max-height: 30mm;
}

.details-container {
    width: 100%;
    max-width: 100%;
    height: 30%;
    max-height: 30%;
    overflow: hidden;
}
.details-container p {
    margin: 0;
    font-size: 7pt;
    text-align: justify;
}

.category-container {
    font-size: 8pt;
    width: calc(38mm*5);
    height: 54mm;
    display: inline-block;
    padding-bottom: 2mm;
}

.category {
    width: 100%;
    height: 100%;
    border: 0.5mm solid black;
    text-transform: capitalize;
    padding: 5mm;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
/*  SINGLE PRODUCT */

.single-product {
    width: 100%;
    height: 100%;
}

.title-container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}

.reference {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e6da4;
    line-height: 14pt;
    font-size: 12pt;
    text-align: center;
}

.title-container h1 {
    font-size: 16pt;
    margin: 0;
}

.title-container-inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}